.checkout-page {
    width: 75%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;

    .checkout-header {
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid darkgrey;

        .header-block {
            text-transform: capitalize;
            width: 23%;

            &:last-child {
                width: 10%;
            }
        }
    }

    .total {
        margin-top: 30px;
        margin-left: auto;
        font-size: 36px;
    }

    button {
        margin-left: auto;
        margin-top: 50px;
    }

    .test-warning {
        text-align: center;
        margin-top: 40px;
        font-size: 24px;
        color: red;
    }
}

@media screen and (max-width: 576px) {
    //anything below 800 will get style, anything above will not
}
@media screen and (max-width: 768px) {
    //anything below 800 will get style, anything above will not
    .checkout-page {
        width: 95%;
    }
}
@media screen and (max-width: 992px) {
    //anything below 800 will get style, anything above will not
}
@media screen and (max-width: 1200px) {
    //anything below 800 will get style, anything above will not
}
